{% extends "container.html" %}
{% block html %}
{% if thesis %}
<div class="container">
    <div class="row" style="text-align: center; padding: 50px 0px;">
        <h1 id="position" class="">
    </div>

    <div class="row">
        <div>
            <div style="text-align: center; margin-top: -25px;">
                <h3>Thèse ou pipo ?</h3>
            </div>
            
            <div class="col-md-offset-4">
                <div class="row justify-content-around" style="padding: 20px 50px;">
                    <div class="col-md-2">
                        <button id="yes" class="btn btn-lg btn-success">Thèse</button>
                    </div>
                    <div class="col-md-2">
                        <button id="no" class="btn btn-lg btn-danger">Pipo</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <div style="text-align: center;">
        <img id="img-no" src='{{url_for("static", filename="img/no.jpg" )}}' alt="centered image"
            class="hidden marginauto">
        <img id="img-yes" src='{{url_for("static", filename="img/yes.gif" )}}' alt="centered image"
            class="hidden marginauto">
    </div>
        
    
    
</div>
{% endif %}
{% endblock %}
{% block js %}
<script>
    const thesis = [
        {% for these in thesis %}
            {
                title: "{{ these.title }}",
                id: "{{ these.thesisid }}",
                isTrue: "{{ these.isTrue }}"
            },
        {% endfor %}
    ];

    const getRandomThese = () => {
        return thesis[Math.floor(Math.random() * thesis.length)]
    };

    const getData = answer => {
        const these = $("#these");
        return {
            id: these.attr("data-id"),
            answer: answer,
            isReal: these.attr("isTrue") === "True"
        }
    }

    const sendData = answer => {
        $.ajax({
            url: "/stat",
            type:"POST",
            data: JSON.stringify(getData(answer)),
            contentType:"application/json; charset=utf-8",
            dataType:"json",
            success: () => {}
        });
    };

    const isItTrue = () => $("#these").attr("isTrue") === "True";
    const displayGif = isTrue => {
        if (isTrue) {
            $("#img-yes").removeClass("hidden");
            $("#img-no").addClass("hidden");
        } else {
            $("#img-no").removeClass("hidden");
            $("#img-yes").addClass("hidden");
        }
    }

    const displayThese = () => {
        const these = getRandomThese();
        $("#position").html(`<span id="these" data-id="${these.id}" isTrue="${these.isTrue}">${these.title}</span>`);
    }

    $(document).ready(function () {
        displayThese();
    });

    $("#no").click(e => {
        e.preventDefault();
        displayGif(!isItTrue());
        sendData(false);
        displayThese();
    });
    $("#yes").click(e => {
        e.preventDefault();
        displayGif(isItTrue());
        sendData(true);
        displayThese();
    });
    </script>
{% endblock %}