{% extends "container.html" %}
{% block html %}
    <h1 style="color:#505050;">
        <i>Bienvenue sur Tezoupipo !</i>
    </h1>
    {% if thesis %}
        <div class="container">
            <div class="row">
                <div id="position" class="col-md-offset-3 col-md-6 well"></div>
            </div>
            <div class="row">
                <h1>Thèse ou pipo ?</h1>
                <div class="row">
                    <div class="col-md-offset-4 col-md-2">
                        <button id="yes">OUI</button>
                    </div>
                    <div class="col-md-2">
                        <button id="no">NON</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <img id="img-no" src="{{url_for("static", filename="img/no.jpg")}}" alt="" class="hidden">
                    <img id="img-yes" src="{{url_for("static", filename="img/yes.gif")}}" alt="" class="hidden">
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block js %}
    <script>
        const thesis = [
            {% for these in thesis %}
                {
                    title: "{{ these.title }}",
                    id: "{{ these.thesisid }}",
                    isTrue: "{{ these.isTrue }}"
                },
            {% endfor %}
        ];

        const getRandomThese = () => {
            return thesis[Math.floor(Math.random() * thesis.length)]
        };

        const getData = isRight => {
            const these = $("#these");
            return {
                id: these.attr("data-id"),
                isRight: isRight,
                isReal: these.attr("isTrue")
            }
        }

        const sendData = isRight => {
            $.ajax({
                url: "/stat",
                type:"POST",
                data: JSON.stringify(getData(isRight)),
                contentType:"application/json; charset=utf-8",
                dataType:"json",
                success: () => {}
            });
        };

        const isItTrue = () => $("#these").attr("isTrue") === "True";
        const displayGif = isTrue => {
            if (isTrue){
                $("#img-yes").removeClass("hidden");
                $("#img-no").addClass("hidden");
            } else {
                $("#img-no").removeClass("hidden");
                $("#img-yes").addClass("hidden");
            }
        }

        $( document ).ready(function() {
            const these = getRandomThese();
            $("#position").html(`<span id="these" data-id="${these.id}" isTrue="${these.isTrue}">${these.title}</span>`);
        });

        $("#no").click(e => {
            e.preventDefault();
            displayGif(!isItTrue());
            sendData(isItTrue())
        });
        $("#yes").click(e => {
            e.preventDefault();
            displayGif(isItTrue());
            sendData(isItTrue())
        });
    </script>
{% endblock %}