{% extends "container.html" %}
{% block html %}
    {% if thesis %}
        <div class="container-fluid-md justify-content-center">
            <h1 id="position" class=""></div>
                <h3 class="justify-content-center">Thèse ou pipo ?</h3>
                <div class="col-md-offset-2">
                    <div class="row justify-content-around">
                    <div class="col-md-4">
                        <button id="yes" class="btn btn-success">OUI</button>
                    </div>
                    <div class="col-md-4">
                        <button id="no" class="btn btn-danger">NO</button>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <img id="img-no" src="{{url_for("static", filename="img/no.jpg")}}" alt="" class="hidden">
                    <img id="img-yes" src="{{url_for("static", filename="img/yes.gif")}}" alt="" class="hidden">
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block js %}
    <script>
        const thesis = [
            {% for these in thesis %}
                {
                    title: "{{ these.title }}",
                    id: "{{ these.thesisid }}",
                    isTrue: "{{ these.isTrue }}"
                },
            {% endfor %}
        ];

        const getRandomThese = () => {
            return thesis[Math.floor(Math.random() * thesis.length)]
        };

        const getData = isRight => {
            const these = $("#these");
            return {
                id: these.attr("data-id"),
                isRight: isRight,
                isReal: these.attr("isTrue")
            }
        }

        const sendData = isRight => {
            $.ajax({
                url: "/stat",
                type:"POST",
                data: JSON.stringify(getData(isRight)),
                contentType:"application/json; charset=utf-8",
                dataType:"json",
                success: () => {}
            });
        };

        const isItTrue = () => $("#these").attr("isTrue") === "True";
        const displayGif = isTrue => {
            if (isTrue){
                $("#img-yes").removeClass("hidden");
                $("#img-no").addClass("hidden");
            } else {
                $("#img-no").removeClass("hidden");
                $("#img-yes").addClass("hidden");
            }
        }

        $( document ).ready(function() {
            const these = getRandomThese();
            $("#position").html(`<span id="these" data-id="${these.id}" isTrue="${these.isTrue}">${these.title}</span>`);
        });

        $("#no").click(e => {
            e.preventDefault();
            displayGif(!isItTrue());
            sendData(isItTrue())
        });
        $("#yes").click(e => {
            e.preventDefault();
            displayGif(isItTrue());
            sendData(isItTrue())
        });
    </script>
{% endblock %}